html[dir="rtl"] {
  body.post-php {
    .wrap {
      #timestampdiv {
        .timestamp-wrap.wp-parsidate-timestamp-wrap {
          display: flex;
          gap: 2px;
          align-items: center;

          select {
            background-position: left 3px top 55%;
          }

          select, input[type="text"] {
            padding: 2px;
            min-height: 30px;
            max-height: 30px;
            line-height: 1;
          }
        }
      }
    }
  }
}
