@use "components/button";

html[dir="rtl"] {
  body.post-php {
    .wrap {
      #timestampdiv {
        .timestamp-wrap.wp-parsidate-timestamp-wrap {
          display: flex;
          gap: 2px;
          align-items: center;

          select {
            background-position: left 3px top 55%;
          }

          select, input[type="text"] {
            padding: 2px;
            min-height: 30px;
            max-height: 30px;
            line-height: 1;
          }
        }
      }
    }
  }
}


.wppd-admin-notice {
  * {
    box-sizing: border-box;
  }

  > div {
    margin: 0.5em 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.54;
  }

  .wppd-admin-notice-actions {
    display: flex;
    gap: 20px;
  }

  @include button.wppd-button;

  a {
    display: inline-block;

    &:focus {
      border-radius: 10px !important;
    }
  }

  &.wppd-parsigate-install-notice {
    > div {
      font-size: 15px;
    }

    strong {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 22px;
    }

    .plugin-name {
      color: #6830cf;
    }

    .wppd-button.wppd-button-primary {
      background-color: #6830cf;
      border-color: #612cc2;
      box-shadow: none;

      &:focus {
        outline-color: #612cc2;
        box-shadow: none;
      }
    }

    .wppd-button-secondary {
      &:focus, &:active {
        outline-color: #612cc2;
        box-shadow: none;
      }
    }
  }
}
