html[dir="rtl"] {
  body.post-php {
    .wrap {
      #timestampdiv {
        .timestamp-wrap.wp-parsidate-timestamp-wrap {
          select, input[type="text"] {
            padding: 2px;
            min-height: 30px;
            max-height: 30px;
            line-height: 1;
          }
        }
      }
    }
  }
}
