#wpp_dashboard_primary {
  .inside {
    margin: 0;
    padding: 0;

    .notice {
      margin: 0;
    }
  }

  .widget-loading {
    padding: 12px 12px 0;
    margin-bottom: 1em !important;
  }

  .rss-widget {
    font-size: 13px;
    padding: 0 12px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 8px;
    }

    a {
      font-weight: 400;
    }

    span {
      &.rss-date {
        margin-right: 12px;
      }
    }

    ul {
      li {
        padding: 4px 0;
        margin: 0;
      }
    }
  }

  a {
    &.rsswidget {
      font-weight: 400;
    }
  }

  .rss-widget {
    span,
    span.rss-date {
      color: #646970;
    }
  }

  #wpp_sponsorship_placeholder {
    padding: 10px;
    background: #e1e1e1;
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
      -webkit-animation: wpp_shimmer 5s infinite;
      animation: wpp_shimmer 1.5s infinite;
      content: "";
    }

    img {
      width: 90px;
      margin: 0 auto;
      display: block;
    }
  }

  #wpp_sponsorship {
    img {
      width: 100%;
      height: auto;
    }
  }

  #sponsorship-guide {
    position: absolute;
    z-index: 999;
    top: 5px;
    left: 5px;

    .question {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 22px;
      height: 22px;
      justify-content: center;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(5px);
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
      overflow: hidden;
      color: #fff;
      padding: 3px;
      position: absolute;
      left: 0;

      span {
        &:nth-child(2) {
          width: 0;
          transition: ease-in-out .3s;
          margin: 0;
          overflow: hidden;
        }
      }

      &:hover {
        width: auto;
        height: auto;
        padding: 3px 0 3px 10px;
        border-radius: 36px;
        corner-shape: squircle;

        span {
          display: inline;
          width: auto;
          margin-right: 5px;
          white-space: nowrap;
        }
      }
    }

    ul {
      display: none;
      position: relative;
      list-style: none;
      margin: 37px 0 0 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      background: #fff;
      padding: 3px;
      border-radius: 5px;
      corner-shape: squircle;
      box-shadow: 0 0 8px #444;

      &:before {
        content: "";
        position: absolute;
        border-color: rgba(194, 225, 245, 0);
        border: solid transparent;
        border-bottom-color: white;
        border-width: 11px;
        margin-left: -10px;
        top: -21px;
        left: 14px;
        z-index: 1;
      }

      &.show {
        display: block;
        opacity: 1;
      }

      li {
        margin: 0;
        padding: 5px 0;

        a {
          text-decoration: none;
          background: #fff;
          padding: 5px 10px;
          border-radius: 5px;
          corner-shape: squircle;
          transition: background 0.3s;

          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }
  }

  .navigation-wrapper {
    position: relative;
    margin-bottom: 10px;
  }

  .dots {
    display: flex;
    justify-content: center;
  }

  .dot {
    border: none;
    width: 3px;
    height: 3px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 3px;
    padding: 2px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .dot--active {
    background: #000;
  }

  .arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 5px;
    transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;

    &:after {
      display: none;
    }
  }

  .arrow--left {
    right: 33px;
    fill: #fff;
    background: rgba(255, 255, 255, 0.3) no-repeat center url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
    background-size: 15px;
  }

  .arrow--right {
    right: 7px;
    background: rgba(255, 255, 255, 0.3) no-repeat center url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 15px;
  }

  .arrow--disabled {
    &.arrow--left {
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
    }

    &.arrow--right {
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

/*.wpps_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.wpps_modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.wpps_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.wpps_close:hover,
.wpps_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wpps_modal-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}*/

@keyframes wpp_shimmer {
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes wpp_shimmer {
  100% {
    transform: translateX(100%);
  }
}
