// Admin order detail
body.rtl.woocommerce_page_wc-orders {
  form#order {
    #order_data {
      .order_data_column:first-child {
        p.form-field:first-of-type {
          direction: ltr;

          label {
            display: block;
            direction: rtl;
          }

          input {
            padding: 5px;
          }
        }
      }
    }
  }
}

// Analytics pages
.woocommerce-analytics-import-status-bar__trigger{
  width: 138px !important;
}

.woocommerce-calendar__input-text[dir='rtl'],
.woocommerce-calendar__input input[dir='rtl'] {
  text-align: center;
  font-variant-numeric: normal;
  unicode-bidi: plaintext;
}

.woocommerce-pagination__page-arrows-buttons {
  button {
    &:not(.is-active) {
      background-color: white;
      opacity: 0.5;
    }

    svg {
      transform: rotate(180deg);
    }
  }
}
