body.rtl, h1, h2, h3, h4, h5, h6, #wpadminbar a {
    font-family: 'DroidNaskh', 'Roboto', tahoma, sans-serif !important;
}

.rtl #wpadminbar {
    font-family: 'DroidNaskh', 'Roboto', tahoma, sans-serif;
}