body,
#tinymce {
  font-family: Vazir, tahoma, arial;
  font-size: 13px;
  direction: rtl
}

p {
  margin-top: 13px;
  margin-bottom: 13px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px
}